<section class="site-banner jarallax min-height300 padding-large" style="background: url(assets/ultras-1.0.0/images/banner2.jpg) no-repeat; background-position: top;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">Shop page</h1>
          <div class="breadcrumbs">
            <span class="item">
              <a routerLink="/home">Home /</a>
            </span>
            <span class="item">Rent items</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="shopify-grid padding-large">
    <div class="container">
      <div class="row">

        <section id="selling-products" class="col-md-9 product-store">
          <div class="container">
            <ul class="tabs list-unstyled">
              <li data-tab-target="#all" class="active tab">All</li>
              <li data-tab-target="#shoes" class="tab">Shoes</li>
              <li data-tab-target="#tshirts" class="tab">Tshirts</li>
              <li data-tab-target="#pants" class="tab">Pants</li>
              <li data-tab-target="#hoodie" class="tab">Hoodie</li>
              <li data-tab-target="#outer" class="tab">Outer</li>
              <li data-tab-target="#jackets" class="tab">Jackets</li>
              <li data-tab-target="#accessories" class="tab">Accessories</li>
            </ul>

            <div class="tab-content">
              <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                  <div
                    *ngFor="let item of approvedItems"
                    class="product-item col-lg-4 col-md-6 col-sm-6"
                  >
                    <div class="image-holder">
                      <img [src]="'http://localhost:4000/assets/' + item.Item_image" alt="{{ item.Item_name }}" class="product-image"
                      [routerLink]="['/item', item.Item_id]" />
                    </div>
                    <div class="cart-concern">
                      <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center" [routerLink]="['/item', item.Item_id]">
                          View Item <i class="icon icon-arrow-io"></i>
                        </button>
                        <button type="button" class="view-btn tooltip d-flex" [routerLink]="['/item', item.Item_id]">
                          <i class="icon icon-screen-full"></i>
                          <span class="tooltip-text">Quick view</span>
                        </button>
                      </div>
                    </div>
                    <div class="product-detail">
                      <h3 class="product-title">
                        <a [routerLink]="['/item', item.Item_id]">{{ item.Item_name }}</a>
                      </h3>
                      <div class="item-price text-primary">₱{{ item.Item_price }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <aside class="col-md-3">
          <div class="sidebar">
            <div class="widgets widget-menu">
              <div class="widget-search-bar">
                <form role="search" method="get" class="d-flex">
                  <input class="search-field" placeholder="Search" type="text">
                  <button class="btn btn-dark"><i class="icon icon-search"></i></button>
                </form>
              </div> 
            </div>
            <div class="widgets widget-product-tags">
              <h5 class="widget-title">Tags</h5>
              <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                  <a href="">White</a>
                </li>
                <li class="tags-item">
                  <a href="">Cheap</a>
                </li>
                <li class="tags-item">
                  <a href="">Branded</a>
                </li>
                <li class="tags-item">
                  <a href="">Modern</a>
                </li>
                <li class="tags-item">
                  <a href="">Simple</a>
                </li>
              </ul>
            </div>
            <div class="widgets widget-product-brands">
              <h5 class="widget-title">Brands</h5>
              <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                  <a href="">Nike</a>
                </li>
                <li class="tags-item">
                  <a href="">Adidas</a>
                </li>
                <li class="tags-item">
                  <a href="">Puma</a>
                </li>
                <li class="tags-item">
                  <a href="">Spike</a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>        
    </div>      
  </div>
  <section id="shipping-information">
    <hr>
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-truck"></i>
            <h4 class="block-title">
              <strong>Free shipping</strong> Over $200
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-return"></i>
            <h4 class="block-title">
              <strong>Money back</strong> Return within 7 days
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-tags1"></i>
            <h4 class="block-title">
              <strong>Buy 4 get 5th</strong> 50% off
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-help_outline"></i>
            <h4 class="block-title">
              <strong>Any questions?</strong> experts are ready
            </h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>