<div class="app-container" [ngClass]="{ 'bg-light': account }">
    <!-- main nav -->
    <!--
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">

        <a class="navbar-brand" href="#">
            <img src="assets/SPEEDFY1_LOGO.png" alt="Speedyfy Logo" height="40">
        </a>

        <a class="navbar-brand" href="#">
            <span class="ml-2">RENTHINGS</span>
        </a>
        


        <div class="navbar-nav">
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a>
            <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
            <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
            <a (click)="logout()" class="nav-item nav-link">Logout</a>
        </div>
    </nav>
    -->
      
    <header id="header" *ngIf="account" style="background-color: #ffffff; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); padding: 10px;">
      <div id="header-wrap">
        <nav class="primary-nav padding-small">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2 col-md-2">
                <div class="main-logo">
                  <a href="index.html">
                    <img src="assets/Images/Renthings logo.png" style="height: 150px; width: 100%; object-fit: cover; border-radius: 10px;" alt="logo">
                  </a>
                </div>
              </div>
              <div class="col-lg-10 col-md-10">
                <div class="navbar">
  
                  <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                    <ul class="menu-list">
                      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item-anchor" style="font-size: large;">Home</a></li>
                      <li><a routerLink="/rent" class="item-anchor" data-effect="Contact">Rent items</a></li>
                      <li><a routerLink="/about" class="item-anchor" data-effect="Contact">About</a></li>

                      <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
                      <li><a routerLink="/profile" routerLinkActive="active" class="item-anchor">Profile</a></li>
                      <li><a (click)="logout()" class="item-anchor" data-effect="Contact" style="cursor: pointer;">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
	<!-- End Header Area -->
    <!-- main router outlet -->
    <router-outlet></router-outlet>
</div>