<h1>Update Profile</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-6">
      <label>First Name</label>
      <input
        type="text"
        formControlName="acc_firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.acc_firstName.errors }"
      />
      <div *ngIf="submitted && f.acc_firstName.errors" class="invalid-feedback">
        <div *ngIf="f.acc_firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group col-6">
      <label>Last Name</label>
      <input
        type="text"
        formControlName="acc_lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.acc_lastName.errors }"
      />
      <div *ngIf="submitted && f.acc_lastName.errors" class="invalid-feedback">
        <div *ngIf="f.acc_lastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      formControlName="acc_email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.acc_email.errors }"
    />
    <div *ngIf="submitted && f.acc_email.errors" class="invalid-feedback">
      <div *ngIf="f.acc_email.errors.required">Email is required</div>
      <div *ngIf="f.acc_email.errors.email">Invalid email address</div>
    </div>
  </div>
  <h3 class="pt-3">Change Password</h3>
  <p>Leave blank to keep the current password</p>
  <div class="form-row">
    <div class="form-group col-6">
      <label>New Password</label>
      <input
        type="password"
        formControlName="acc_passwordHash"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.acc_passwordHash.errors }"
      />
      <div *ngIf="submitted && f.acc_passwordHash.errors" class="invalid-feedback">
        <div *ngIf="f.acc_passwordHash.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group col-6">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
      />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Update
    </button>
    <a routerLink="../" class="btn btn-link">Cancel</a>
  </div>
</form>
