<section id="billboard" class="overflow-hidden">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('assets/Images/cover.png');background-repeat: no-repeat;background-size: cover;">
          <div class="banner-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="banner-title">Renthings</h2>
                  <p>Is a convenient online platform that connects people looking to rent items with those who have them to offer.
                    Whether it’s tools, equipment, or everyday essentials, Renthings makes sharing simple, sustainable, and cost-effective.</p>
                  <div class="btn-wrap">
                    <a routerLink="" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">Rent Items <i class="icon icon-arrow-io"></i></a>
                    <a routerLink="/list" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">List Items <i class="icon icon-arrow-io"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  

